{% include 'headers/main/header.html' %}

<div class="p-5 mainAd text-white">
  <div class="container">
    <h2 class="display-2">Moto</h2>
    <p class="lead mb-3">Lorem ipsum dolor sit, omnis.</p>
    <button class="btn btn-primary">Shop Now</button>
  </div>
</div>

<div class="container mb-3">
  <div class="my-3">
    <span class="d-block text-muted">MENS</span>
    <h4 class="fs-3 fw-bold">Most Popular</h4>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="https://images.unsplash.com/photo-1605034313761-73ea4a0cfbf3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://images.unsplash.com/photo-1511499767150-a48a237f0083?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a short card.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://images.unsplash.com/photo-1603313011101-320f26a4f6f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4 text-white">
    <div class="col">
      <div class="card">
        <div class="womensAd p-5">
          <h1 class="display-4 mb-3">Womens <br> Exclusives</h1>
          <button class="btn btn-primary">Shop</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="mensAd p-5">
          <h1 class="display-4 mb-3">Mens <br> Exclusives</h1>
          <button class="btn btn-primary">Shop</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="my-3">
    <span class="d-block text-muted">WOMENS</span>
    <h4 class="fs-3 fw-bold">Most Popular</h4>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="https://images.unsplash.com/photo-1543163521-1bf539c55dd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://images.unsplash.com/photo-1543163836-2e529843d1e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a short card.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://images.unsplash.com/photo-1508296695146-257a814070b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="bg-dark text-white mt-4">
  <div class="container text-center py-5">
    <div class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. <span class="ms-5"><button class="btn btn-light">Sign Up</button></span></div>
  </div>
</div>


  {% include 'headers/main/footer.html' %}