{% include 'headers/main/header.html' %}


<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2  ">
        <div class="col p-0 m-0">
            <img class='img-fluid w-100' src="{{product[1]}}" alt="...">
        </div>
        <div class="col m-auto px-3 py-3 py-md-0 px-md-5">
            <section class="mb-3">
                <h1 class="fs-3 fw-bold  mb-1">{{product[2]}}</h1>
                <p class="d-block text-muted fs-5 lead mb-1">{{product[4]}}</p>
                <p class=" fw-bold fs-md-6 fs-sm-7 mb-1">${{product[5]}}.00</p>
            </section>
            <section class="mb-3">
                <h5 class="fw-bold fs-5">Sizes:</h5>
                <div class="row row-cols-3 text-center fs-7 ">
                    <div class="col p-1">
                        {%if product[9] != 0 %}
                            <div class="border btn-size p-2">
                                XS
                            </div>
                        {% else %}
                            <div class="border btn-disabled p-2">
                                XS
                            </div>
                        {% endif %}

                    </div>
                    <div class="col p-1">
                        {%if product[10] != 0 %}
                            <div class="border btn-size p-2">
                                SM
                            </div>
                        {% else %}
                            <div class="border btn-disabled p-2">
                                SM
                            </div>
                        {% endif %}
                    </div>
                    <div class="col p-1">
                        {%if product[11] != 0 %}
                            <div class="border btn-size p-2">
                                MD
                            </div>
                        {% else %}
                            <div class="border btn-disabled p-2">
                                MD
                            </div>
                        {% endif %}
                    </div>
                    <div class="col p-1">
                        {%if product[12] != 0 %}
                            <div class="border btn-size p-2">
                                LG
                            </div>
                        {% else %}
                            <div class="border btn-disabled p-2">
                                LG
                            </div>
                        {% endif %}
                    </div>
                    <div class="col p-1">
                        {%if product[13] != 0 %}
                            <div class="border btn-size p-2">
                                XL
                            </div>
                        {% else %}
                            <div class="border btn-disabled p-2">
                                XL
                            </div>
                        {% endif %}
                    </div>
                    <div class="col p-1">
                        {%if product[14] != 0 %}
                            <div class="border btn-size p-2">
                                XXL
                            </div>
                        {% else %}
                            <div class="border btn-disabled p-2">
                                XXL
                            </div>
                        {% endif %}
                    </div>

                </div>
            </section>
            <section class="mb-3">
                <form action="/collection/item/{{product[0]}}" method="post">
                    <input type="text" class="d-none form-control" name="productID" value="{{product[0]}}">
                    <select class="form-select d-none" name="size" id="add-cart" aria-label="Default select example">
                        <option class="none" selected>None</option>
                        <option class="xs" value="xs">xs</option>
                        <option class="sm" value="sm">sm</option>
                        <option class="md" value="md">md</option>
                        <option class="lg" value="lg">lg</option>
                        <option class="xl" value="xl">xl</option>
                        <option class="xxl" value="xxl">xxl</option>
                      </select>

                    <section class="mb-3">
                        <div class="h6">Quantity</div>
                        <div class="w-auto">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="AddQty">+</span>
                            <span class="form-control bg-white" id="spanQty"> 1</span>
                            <input type="text" class="form-control bg-white d-none" id="Qty" value="1" name='quantity'>
                            <span class="input-group-text" id="RemoveQty">-</span>
                            </div>
                        </div>
                    </section>
                      <button type="submit" class="btn d-block w-100 btn-add-size" disabled>Add to Bag</button>
                </form>


            </section>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col p-5 border-end">
                <div class="h5 fs-5">Details</div>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor magni illo non! Vitae quos cumque adipisci enim consequatur sapiente velit quidem in id mollitia suscipit minus, consectetur modi amet nostrum?</p>
            </div>
            <div class="col p-5">
                <div class="h5 fs-5">About the brand</div>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor magni illo non! Vitae quos cumque adipisci enim consequatur sapiente velit quidem in id mollitia suscipit minus, consectetur modi amet nostrum?</p>             
            </div>
        </div>
    </div>
</div>








<script src="{{ url_for('static', filename='addItem.js') }} "></script>

{% include 'headers/main/footer.html' %}